{# app/Resources/views/podcast/view.html.twig #}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Popynov Radio | Radio jeune</title>
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
		<link href="{{asset('assets/materialize-css/dist/css/materialize.min.css') }}" rel="stylesheet"/>
		<link href="{{asset('assets/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet"/>
		<link href="{{asset('assets/custom.css') }}" rel="stylesheet"/>
		<link href="{{asset('assets/audioplayer.css') }}" rel="stylesheet"/>
	</head>
	<body>
		{# Navbar #}
		<div class="nav">
			<div class="row logoEmplacement" style="margin-bottom:0px;">
				<div class="imgLogo col offset-m5 m2"><a href="/"><img class="col offset-m2 centerLogo" src="assets/images/logo.svg"></a></div>
			</div>

			<div class="row textNav" style="margin-bottom:0px!important;margin-top: 0.4vw;">
				<div class="col m2 logoLeft hide">
					<a href="/"><img class="col offset-m2" src="assets/images/logo.svg" width="70"></a>
				</div>
			
				<ul id="nav-mobile" class="col m10 right textNavBar">
					<li class="col m2"><a href="#podcast">podcasts</a></li>
					<li class="col m2"><a href="#article">articles</a></li>
					<li class="col m2"><a href="#video">videos</a></li>
					<li class="col m2"><a href="#about">A propos</a></li>
					<li class="col m2"><a href="#contact">contact</a></li>
				</ul>

				<div class="col offset-m4 m4">
					<div class="audioplayer audioplayer-stopped">
						<audio>
							<source src="http://78.129.175.157/stream.mp3?ipport=78.129.175.157_38605" type="audio/aac">
							<source src="http://78.129.175.157/stream.mp3?ipport=78.129.175.157_38605" type="audio/mpeg">
						</audio>
						<div class="audioplayer-playpause" title="Play"><a href="#">Play</a></div>
						<div class="audioplayer-time audioplayer-time-current">00:00</div>
						<div class="audioplayer-bar">
							<div class="audioplayer-bar-loaded"></div>
							<div class="audioplayer-bar-played"></div>
						</div>
						<div class="audioplayer-time audioplayer-time-duration">&hellip;</div>
						<div class="audioplayer-volume">
							<div class="audioplayer-volume-button" title="Volume"><a href="#">Volume</a></div>
							<div class="audioplayer-volume-adjust"><div><div></div></div></div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="row">
			<img src="assets/images/em.jpg" class="responsive-img spaceNavbar">
			<button class="btn col offset-m5 m2 customButton">decouvrir</button>
		</div>
		
        <div class="container" id="podcast">
			<h2 class="titleIndexCustom">podcasts</h2>

			<div class="carousel" style="height:500px; margin-top:-90px;">
				{% for podcast in podcasts %}
					<div class="carousel-item" href="/podcast/view/{{ podcast.idPodcast }}" style="width:300px;">
						<div class="titlePodcastIndex">
							<h4>{{ podcast.titrePodcast }}</h4>
						</div>
						<img class="responsive-img" style="margin-top: -100px;" src="{{ asset('uploads/image/' ~ podcast.imagePodcast) }}">
						<div class="row valign-wrapper" style="margin-top: -85px;">
							{# <a class="btn-floating btn-large halfway-fab waves-effect waves-light teal" style="left:35px!important; margin-left:auto; margin-right:auto;" onClick="togglePlay()"><i class="material-icons" id="PausePlay">play_arrow</i></a> #}
							<div class="hide">
								<div class="col s2" id="position"></div>
								<div class="col s6 range-field valign-wrapper"><input id="seekbar" type="range" min="0" max="0" step="1" oninput="setSeek(this.value)" onchange="setSeek(this.value)"></div>
								<div class="col s2 center-align" id="total"></div>
								<div class="col s2 center-align"><a class="" onClick="toggleMute()"><i class="material-icons teal-text lighten-1" id="Muted">volume_up</i></a></div>
								<div class="col s3 range-field valign-wrapper"><input id="vol-control" type="range" min="0" max="100" step="1" oninput="SetVolume(this.value)" onchange="SetVolume(this.value)"></div>
							</div>
						</div>
						<audio id="myAudio" preload="auto">
							<source src="{{ asset('uploads/podcast/' ~ podcast.urlPodcast) }}" type="audio/mp3">
						</audio>
					</div>
				{% endfor %}
			</div>
			<button class="previousCarouselVideo btn btnCarousel" style="margin-top: -270px"><i class="fa fa-chevron-left" style="margin-left:3px;"></i></button>
			<button class="nextCarouselVideo btn btnCarousel" style="margin-top: -270px"><i class="fa fa-chevron-right"></i></button>
		</div>

        <div class="container" id="article" style="margin-top: 60px;">
			<h2 class="titleIndexCustom">articles</h2>

			<div class="carousel" style="margin-top: 60px;">
				{% for article in articles %}
					<div class="carousel-item" href="/article/view/{{ article.idArticle }}" style="width:300px;">
						<img class="responsive-img" style="margin-top: -100px;" src="{{ asset('uploads/image/' ~ article.imgArticle) }}">
						<h4 style="font-size:2vw;">{{ article.nomArticle }}</h4>
						<p style="text-overflow:ellipsis; overflow:hidden; white-space:nowrap;">{{ article.contenuArticle }}</p>
						<a href="article/view/{{ article.idArticle }}"><div class="accessPageArticle">lire la suite...</div></a>
					</div>
				{% endfor %}
			</div>

			<button class="previousCarouselVideo btn btnCarousel" style="margin-top: -270px"><i class="fa fa-chevron-left" style="margin-left:3px;"></i></button>
			<button class="nextCarouselVideo btn btnCarousel" style="margin-top: -270px"><i class="fa fa-chevron-right"></i></button>
		</div>

        <div class="container" id="video" style="margin-top: -60px;">
			<h2 class="titleIndexCustom">videos</h2>
			
			<div class="carousel" style="margin-top:-100px; height:550px;">
				{% for video in videos %}
				<div class="carousel-item" style="width:300px;">
					<iframe width="360" height="315" src="https://www.youtube.com/embed/{{ video.urlVideo }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
				{% endfor %}
			</div>
			<button class="previousCarouselVideo btn btnCarousel" style="margin-top: -270px"><i class="fa fa-chevron-left" style="margin-left:3px;"></i></button>
			<button class="nextCarouselVideo btn btnCarousel" style="margin-top: -270px"><i class="fa fa-chevron-right"></i></button>
		</div>

		<div class="row">
			<div class="col offset-m1 m10">
				<div class="container" id="about">
					<h2 class="titleIndexCustom">A propos</h2>
					<p style="margin-left:auto;margin-right:auto; text-align:center;">
						Bien des choses ont évoluées chez Popynov depuis le premier entretien. Nous avons
						pu donner naissance à plusieurs rubriques tels que les flashs infos, les infos satiriques ou
						encore l’actualité musicale. Oui, nous ne sommes pas qu’une radio diffusant du contenu
						musical mais une radio au contenu varié et diversifié. <br><br>
						Durant ces semaines nous avons pu agir dans différents champs. Tous nous nous
						sommes essentiellement concentrés sur le site internet, que ce soit sur l’hébergement de
						celui-ci, son fonctionnement, son contenu et sa forme. Tout ceci nous a notamment permis
						d’établir notre Business Model.
					</p>
				</div>
				<div class="row" style="margin-top:30px;">
					<div class="col m1">
						<div class="col offset-m1 m10">
							<img src="assets/images/1.png" class="aboutPhoto">
							<p class="textAboutIndex"><b>Charlie</b><br>
								<i>PDG & Designer</i>
							</p>
						</div>
					</div>
					<div class="col m1">
						<div class="col offset-m1 m10">
							<img src="assets/images/2.png" class="aboutPhoto">
							<p class="textAboutIndex"><b>Aurélie</b><br>
								<i>Responsable Commerciale</i>
							</p>
						</div>
					</div>
					<div class="col m1">
						<div class="col offset-m1 m10">
							<img src="assets/images/6.png" class="aboutPhoto">
							<p class="textAboutIndex"><b>Théo</b><br>
								<i>Responsable réseaux & sécurité</i>
							</p>
						</div>
					</div>
					<div class="col m1">
						<div class="col offset-m1 m10">
							<img src="assets/images/7.png" class="aboutPhoto">
							<p class="textAboutIndex"><b>Nilda</b><br>
								<i>Commerciale</i>
							</p>
						</div>
					</div>
					<div class="col m1">
						<div class="col offset-m1 m10">
							<img src="assets/images/8.png" class="aboutPhoto">
							<p class="textAboutIndex"><b>Juliette</b><br>
								<i>Commerciale</i>
							</p>
						</div>
					</div>
					<div class="col m1">
						<div class="col offset-m1 m10">
							<img src="assets/images/9.png" class="aboutPhoto">
							<p class="textAboutIndex"><b>Fadil</b><br>
								<i>Développeur Web</i>
							</p>
						</div>
					</div>
					<div class="col m1">
						<div class="col offset-m1 m10">
							<img src="assets/images/10.png" class="aboutPhoto">
							<p class="textAboutIndex"><b>Giresse</b><br>
								<i>Responsable serveur</i>
							</p>
						</div>
					</div>
					<div class="col m1">
						<div class="col offset-m1 m10">
							<img src="assets/images/11.png" class="aboutPhoto">
							<p class="textAboutIndex"><b>Claude</b><br>
								<i>Développeur</i>
							</p>
						</div>
					</div>
					<div class="col m1">
						<div class="col offset-m1 m10">
							<img src="assets/images/3.png" class="aboutPhoto">
							<p class="textAboutIndex"><b>Francesca</b><br>
								<i>Ressource Humaine</i>
							</p>
						</div>
					</div>
					<div class="col m1">
						<div class="col offset-m1 m10">
							<img src="assets/images/4.png" class="aboutPhoto">
							<p class="textAboutIndex"><b>Thierry</b><br>
								<i>Chef de projet</i>
							</p>
						</div>
					</div>
					<div class="col m1">
						<div class="col offset-m1 m10">
							<img src="assets/images/5.png" class="aboutPhoto">
							<p class="textAboutIndex"><b>Kahina</b><br>
								<i>Chargé de presse</i>
							</p>
						</div>
					</div>
					<div class="col m1">
						<div class="col offset-m1 m10">
							<img src="assets/images/12.png" class="aboutPhoto">
							<p class="textAboutIndex"><b>Abdou</b><br>
								<i>Commerciale</i>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>

        <div class="container" id="contact">
			<h2 class="titleIndexCustom">contact</h2>

			<div class="row">
				<form class="col s12">
					<div class="input-field col s6">
						<input type="text" name="nom" class="validate" id="nom" placeholder="Votre nom">
						<label for="first_name">Nom</label>
					</div>

					<div class="input-field col s6">
						<input type="text" name="prenom" class="validate" id="prenom" placeholder="Votre prénom">
						<label for="first_name">Prénom</label>
					</div>

					<div class="input-field col s12">
						<input type="email" name="email" class="validate" id="email" placeholder="E-mail">
						<label for="first_name">E-mail</label>
					</div>

					<div class="input-field col s12">
						<input type="text" name="subject" class="validate" id="subject" placeholder="Votre sujet">
						<label for="first_name">Sujet</label>
					</div>

					<div class="input-field col s12">
						<textarea type="textarea" name="message" class="materialize-textarea" id="message" placeholder="Votre message" style="min-height:300px;max-height:300px;overflow:auto;"></textarea>
						<label for="first_name">Message</label>
					</div>
					
				</form>
			</div>
		</div>

		<button class="btn goHead hide" title="retourner en haut de page"><i class="fa fa-chevron-up"></i></button>
		<footer class="page-footer popynovFooter">
			<div class="container">
				<div class="copyrightPopynov">Copyright POPYNOV 2018 ©</div>
			</div>
        </footer>
	</body>
	<script type="text/javascript" src="{{asset('assets/jquery/dist/jquery.min.js') }}"></script>
	<script type="text/javascript" src="{{asset('assets/materialize-css/dist/js/materialize.min.js') }}"></script>
	<script type="text/javascript" src="{{asset('assets/custom.js') }}"></script>
	<script type="text/javascript" src="{{asset('assets/init.js') }}"></script>
	<script type="text/javascript" src="{{asset('assets/audioplayer.min.js') }}"></script>
	<script>
    $( function()
    {
		audio = true;
		$( 'audio' ).audioPlayer(
		{
			classPrefix: 'audioplayer',
			strPlay: 'Play',
			strPause: 'Pause',
			strVolume: 'Volume'
		});
		
		$(".audioplayer-playpause").on("click", function(){
			console.log("ok");
			if(audio == false){
				$(this).parent().children(".audioplayer-mini").append('<embed src="http://78.129.175.157/stream.mp3?ipport=78.129.175.157_38605" width="0" height="0" volume="100" autostart="false" loop="false">');
				audio = true;
			}else{
				$(this).parent().children(".audioplayer-mini").children("embed").remove();
				audio = false;
			}
		})
    });
</script>
</html>